{% extends "layout.html.twig" %}

{% block main %}
    {% if game.played %}
        <h1>Résultats du jeu : {{ total }} clics</h1>
        <ul>
            {% for url in game.urls %}
                <li>
                    L'URL {{ url.href }} a été cliquée {{ url.counter }} fois.
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            Il semblerait que personne n'ait encore joué à votre jeu. Faites tourner le lien !
            Revenez ensuite sur cette page pour voir les résultats.
        </p>
    {% endif %}
        <div id="links">
        <p>Lien du jeu : <a href="{{ path('game_show', { id: game.id }) }}">{{ url('game_show', { id: game.id }) }}</a></p>
        <p>Vous pouvez aussi <a href="{{ path('game_new') }}">générer un nouveau jeu</a></p>
        </div>
{% endblock %}