{% extends "layout.html.twig" %}

{% block main %}
    {% if game.played %}
        <h1>Résultats du jeu : {{ total }} clics</h1>
        <ul>
            {% for url in game.urls %}
                <li>
                    L'URL {{ url.href }} a été cliquée {{ url.counter }} fois.
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>
            Il semblerait que personne n'ait encore joué à votre jeu. Faites tourner le lien suivant !
            <a href="/game/{{ game.id }}">http://whl.local/game/{{ game.id }}</a>.
            Reviens ensuite sur cette page pour voir les résultats.
        </p>
    {% endif %}
{% endblock %}